body {
  font-family: "poopins", sans-serif;
  margin: 0 auto;
  background-color: whitesmoke;
  color: #333;
}

body.modo-escuro {
  background-color: #333;
  color: white;
}

header {
  background-color: #333333b7;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
header .logo,
header .imagem-botao {
  width: 30px;
  transition: 0.2 ease-in-out;
}

header #botao-alterar-tema {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao:hover {
  transform: scale(1.05);
  cursor: pointer;
}

main {
  padding: 25px;
}

main .listagem-dragon-ball {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
main .cartao {
  background: linear-gradient(119deg, rgb(245, 164, 14), red);
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
main .cartao:hover {
  background: linear-gradient(120deg, white, rgba(0, 255, 255, 0.548));
}

.modo-escuro .cartao:hover {
  background: linear-gradient(130deg, black, cyan);
}

.modo-escuro .cartao {
  background: linear-gradient(120deg, black, gray);
}
main .cartao .informacoes {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333;
  border-radius: 10px;
}

main .cartao .informacoes span {
  padding: 5px;
  font-size: 17px;
}

main .cartao .gif {
  width: 100px;
  height: 100px;
}

main .cartao .tipos li {
  display: flex;
  gap: 15px;
  padding: 8px;
  border-radius: 10px;
}

.raca-saiyajin {
  background-color: orange;
}

.raca-saiyajin-hibrido {
  background: linear-gradient(120deg, orange, #ffbc89);
}
.raca-Namekuseijin {
  background-color: rgb(15, 219, 15);
}
.raca-shinjin {
  background-color: rgb(26, 23, 23);
}
.raca-androide {
  background-color: gray;
}
.raca-majin {
  background-color: pink;
}
main .descricao {
  max-height: 80px;
  overflow-y: scroll;
  font-size: 14px;
  padding-right: 10px;
}
